{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'sampling/pond_stock_list.css' %}">

<div class="stock-container">
    <h2>Pond Stock</h2>

    <a href="{% url 'add-pond-stock' %}">+ Add Pond Stock</a>

    <div class="stock-grid">

        {% for stock in stocks %}
        <div class="stock-card">

            <div class="stock-header">
                <div class="stock-title">
                    {{ stock.pond.name }} — {{ stock.species.name }}
                </div>

                <div class="status-badge 
                    {% if stock.status == 'ACTIVE' %}
                        status-active
                    {% else %}
                        status-closed
                    {% endif %}
                ">
                    {{ stock.status }}
                </div>
            </div>

            <div class="stock-details">
                <strong>Stocked On:</strong> {{ stock.stocked_on }} <br>
                <strong>Quantity:</strong> {{ stock.quantity|intcomma }} <br>
                <strong>Initial Avg Weight:</strong> {{ stock.initial_avg_weight }} g
            </div>

            {% with latest=stock.latest_sampling %}
            <div class="sampling-info">
                {% if latest %}
                    <strong>Last Sampling:</strong> {{ latest.sampled_on }} <br>
                    Count: {{ latest.sample_fish_count }} <br>
                    Avg Weight: {{ latest.average_weight }} g
                {% else %}
                    No sampling yet
                {% endif %}
            </div>
            {% endwith %}

            {% if stock.status == "ACTIVE" %}
            <form method="post" action="{% url 'close-pond-stock' stock.id %}">
                {% csrf_token %}
                <button type="submit" class="close-btn">Close Stock</button>
            </form>
            {% endif %}

        </div>
        {% empty %}
            <p>No pond stock added yet.</p>
        {% endfor %}

    </div>
</div>

{% endblock %}
