{% extends "base.html" %}
{% load static %}

{% block title %}
Home | Fish Farm
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block content %}
<h2>Farm Overview</h2>

{% if pond_data %}
    {% for item in pond_data %}
        <div class="pond-card">
            <h3>
                <a href="{% url 'pond-detail' item.pond.id %}">
                    {{ item.pond.name }}
                </a>
            </h3>
            <p>Active Stocks: {{ item.active_stock_count }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>You have no ponds yet.</p>
    <a href="{% url 'create-pond' %}" class="btn">Add Pond</a>
{% endif %}

{% endblock %}
