<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>{% block title %}Fish Farm{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>

<body>

{% if user.is_authenticated %}
<div class="navbar">
    Logged in as <strong>{{ user.username }}</strong> |

    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'pond-list' %}">My Ponds</a>
    <a href="{% url 'species-list' %}">Species</a>
    <a href="{% url 'feed:feed-type-list' %}">Feed Types</a>

    <form method="post"
          action="{% url 'logout' %}"
          style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</div>
{% endif %}

<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
