<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Fish Farm{% endblock %}</title>
</head>
<body>

{% if user.is_authenticated %}
    <header style="margin-bottom: 20px;">
        <span>Logged in as <strong>{{ user.username }}</strong></span>

        <form
            method="post"
            action="{% url 'logout' %}"
            style="display:inline;"
        >
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </header>
{% endif %}

<hr>

{% block content %}{% endblock %}

</body>
</html>
